.app-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-direction: column;
  justify-cotent: center;
  align-items: center;
}

.inputs-container {
  width: 30%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  justify-cotent: center;
  align-items: center;
  overflow-y: auto;
  border-radius: 1rem;
}

.display-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  width: 90%;
}

.interface-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
