.personal-info-container {
  width: 100%;
  height: 10rem;
  background-color: #0e374e;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.resume-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1.5rem + 1vw);
  color: #fff;
  flex: 2 1 0;
}

.resume-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  flex: 1 2 0;
  color: #fff;
}

.resume-contact > * {
  flex: 1;
}

.icon {
  width: 25px;
  height: 25px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .resume-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    color: #fff;
    font-size: 0.7rem;
  }

  .contact-container {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .icon {
    width: 15px;
    height: 15px;
    color: #fff;
  }

  .personal-info-container {
    width: 100%;
    padding-bottom: 1rem;
  }
}
