.display-container {
  width: 100%;
  display: flex;
  flex: 2 1 0;
  flex-direction: column;
}

.experience-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.experience-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 55, 78, 0.07);
  border-radius: 1rem;
  padding: 5px 0 5px 0;
}

.wraper {
  display: flex;
}

.wraper > * {
  flex: 1;
}

.date-container {
  display: flex;
  gap: 5px;
}

.company-description-container > * {
  padding-left: 1rem;
}

.date-location-container > * {
  padding-left: 1rem;
}
