.experience-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.input-container {
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#education-component-button {
  padding: 1rem 0 1rem 0;
  width: 95%;
  border-radius: 1rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.educationH1 {
  font-size: calc(0.9rem + 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#education-component-button:hover {
  background-color: rgba(14, 55, 78, 0.07);
}

#saveBtn:active {
  filter: brightness(90%);
}

#saveBtn {
  width: 40%;
  color: #fff;
  margin-top: 0.5rem;
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #187ff5;
  font-weight: 700;
}

#saveBtn:hover {
  filter: brightness(70%);
}

#deleteBtn:active {
  filter: brightness(90%);
}

#deleteBtn {
  width: 40%;
  color: red;
  margin-top: 0.5rem;
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

#deleteBtn:hover {
  filter: brightness(70%);
}
.btn-container {
  display: flex;
  gap: 1rem;
}
