.education-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.input-container {
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.experience-component-header {
  display: flex;
  justify-contact: center;
  align-items: center;
  gap: 10px;
  font-size: calc(0.7rem + 1vw);
}

#SaveBtn {
  width: 40%;
  color: #fff;
  margin-top: 0.5rem;
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #187ff5;
  font-weight: 700;
}

#SaveBtn:hover {
  filter: brightness(70%);
}
