.template-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #fff;
  border-radius: 1rem;
  padding: 10px;
}

.load-example {
  width: 40%;

  margin-top: 0.5rem;
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.clear-resume {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-top: 0.5rem;
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  gap: 0.5rem;
}
.clear-resume:hover {
  filter: brightness(70%);
}

.load-example:hover {
  filter: brightness(70%);
}
